h1 {
  text-align: center;
  font: Bold 28px/36px Helvetica;
  letter-spacing: 0;
  color: #354463;
  height: 64px;
  margin:28px  28px ;
  }

/* * {
  border: 1px solid white;
} */

.container {
  position: relative;
  text-align: center;
  color: white;
}

@font-face {
  font-family: Flood;
  src: url('../fonts/FloodStd.otf')  format('opentype');
}

.topRightText {
  position: absolute;
  top: 80px;
  right: 165px;
  width: 384px;
  font-family: Flood;
  font-size: 72px;
  line-height: 76px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
}

.box {
  position: relative;
  top: -1200px;
  bottom: 128px;
  left: 160px;
  width: 640px;
  height: 1016px;
  background: #354463;
}


.formTitle {
  position: absolute;
  text-align: left;
  font: Bold 28px/36px Helvetica;
  margin: 58px 353px 930px 64px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  width: 225px;
  
}

.field-container {
  position: absolute;
  left: 18px;
  top: 103px;
  right: 308px;
  font: normal 14px/17px Helvetica;
  letter-spacing: 0.44px;
  color: #FFFFFF;
}

.element-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;
}

.three-element-row {
  display: flex;
  flex-direction: row;
}

.name-field {
  font: normal 14px/17px Helvetica;
  position: relative;
  left: 3rem;
  width: 116px;
  height: 45px;
}
.address-field {
  font: normal 14px/17px Helvetica;
  position: relative;
  width: 100%;
  right: 11px;
  height: 45px;
}

.field-text {
  font: normal 14px/17px Helvetica;
  letter-spacing: 0.44px;
  /* position: relative;
  right: 22px; */
}
.address-text {
  position: relative;
  letter-spacing: 0.44px;
  right: 35px;
  margin-top: 10px;
}
.email-address-text {
  position: relative;
  letter-spacing: 0.5px;
  right: 35px;
  margin-top: 33px;
}

.fieldspace {
  background-color:  #354463;
  letter-spacing: -0.16px;
  font: lighter 20px/32px Helvetica;
  width: 116px;
  color: #C1F7D5;
  border-style: solid;
  border-top: 1px #C1F7D5;
  border-left: 0px;
  border-right: 0px;
}

.small-fieldspace {
  background-color:  #354463;
  letter-spacing: -0.16px;
  font: lighter 20px/32px Helvetica;
  color: #C1F7D5;
  border-style: solid;
  border-top: 1px #C1F7D5;
  border-left: 0px;
  border-right: 0px;
  width: 50px;
}

.address-fieldspace {
  background-color:  #354463;
  letter-spacing: -0.16px;
  font: lighter 20px/32px Helvetica;
  color: #C1F7D5;
  width: 200px;
  border-style: solid;
  border-top: 1px #C1F7D5;
  border-left: 0px;
  border-right: 0px;
  position: relative;
  /* right: 21px; */
}


/* Tablet */

@media only screen and (max-width: 768px) {
  html, body {
    overflow-x: hidden;
  }
 body {
    width:100%;
  }

  .topRightText{
    position: absolute;
    top: 64px;
    right: 128px;
    left: 128px;
    width: 512px;
    font-family: Flood;
    font-size: 44px;
    line-height: 46px;
    color: #FFFFFF;
  }

  .box {
    position: relative;
    top: -1043px;
    bottom: 128px;
    left: 63px;
    right: 32px;
    width: 640px;
    height: 1016px;
    background: #354463;
  }


}


/* Mobile*/

@media only screen and (max-width: 414px) {
  html, body {
    overflow-x: hidden;
  }
 body {
    width:100%;
  }
  h1 {
    text-align: center;
    font: Bold 18px/22px Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
    height: 40px;
    margin:21px 21px;
    }

    .container {
      position: relative;
      text-align: center;
      color: white;
    }
    .topRightText {
      position: absolute;
      top: 33px;
      right: 32px;
      left: 32px;
      width: 312px;
      font-family: Flood;
      font-size: 32px;
      line-height: 46px;
      letter-spacing: 0;
      color: #FFFFFF;
      opacity: 1;
    }
    
    .box {
      position: relative;
      top: -1089px;
      bottom: 128px;
      left: 20px;
      right: 32px;
      width: 312px;
      height: 816px;
      background: #354463;
    }

    .formTitle {
      position: absolute;
      margin: 32px 31px 757px 0px;
      top: 0px;
      right: 31px;
      left: 31px;
      /* text-align: center; */
      font: Bold 22px/28px Helvetica;
      letter-spacing: 0;
      color: #FFFFFF;
      
    }

    .field-container {
      position: absolute;
      left: 18px;
      top: 68px;
      right: 24px;
      font: normal 11px/13px Helvetica;
      letter-spacing: 0.44px;
      color: #FFFFFF;
    }
    .element-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 15px;
    }

    .three-element-row {
      display: flex;
      flex-direction: row;
    }
    .name-field {
      font: normal 11px/13px Helvetica;
      left: 0em;
      top: 6px;
      width: 116px;
      height: 45px;
    }
    .address-field {
      font: normal 11px/13px Helvetica;
      position: relative;
      width: 100%;
      right: 11px;
      height: 45px;
    }

    .field-text {
      font: normal 11px/13px Helvetica;
      letter-spacing: 0.44px;
      position: relative;
      right: 22px;
    }
    .address-text {
      position: relative;
      right: 68px;
    }

    .email-address-text {
      position: relative;
      right: 68px;
      margin-top: 13px;
    }

    .fieldspace {
      background-color:  #354463;
      letter-spacing: -0.16px;
      font: lighter 16px/24px Helvetica;
      width: 116px;
      color: #C1F7D5;
      border-style: solid;
      border-top: 1px #C1F7D5;
      border-left: 0px;
      border-right: 0px;
    }
    .small-fieldspace {
      background-color:  #354463;
      letter-spacing: -0.16px;
      font: lighter 16px/24px Helvetica;
      color: #C1F7D5;
      border-style: solid;
      border-top: 1px #C1F7D5;
      border-left: 0px;
      border-right: 0px;
      width: 50px;
    }

    .address-fieldspace {
      background-color:  #354463;
      letter-spacing: -0.16px;
      font: lighter 16px/24px Helvetica;
      color: #C1F7D5;
      width: 200px;
      border-style: solid;
      border-top: 1px #C1F7D5;
      border-left: 0px;
      border-right: 0px;
      position: relative;
      right: 21px;
    }   
    
}




