h1 {
  text-align: center;
  font: Bold 28px/36px Helvetica;
  letter-spacing: 0;
  color: #354463;
  opacity: 1;
  height: 64px;
  margin:28px  28px ;
  }

body {
  opacity: 1;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

@font-face {
  font-family: Flood;
  src: url('../fonts/FloodStd.otf')  format('opentype');
}

.topRightText {
  position: absolute;
  top: 80px;
  right: 165px;
  width: 384px;
  font-family: Flood;
  font-size: 72px;
  line-height: 76px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
}

.box {
  position: relative;
  top: -1200px;
  bottom: 128px;
  left: 160px;
  width: 640px;
  height: 1016px;
  background: #354463;
}


.formTitle {
  position: absolute;
  text-align: left;
  font: Bold 28px/36px Helvetica;
  margin: 58px 353px 930px 64px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  width: 225px;
  
}

.field-container {
  /* font: Helvetica 11px/13px Helvetica; */
}

/* Mobile*/

@media only screen and (max-width: 414px) {
  html, body {
    overflow-x: hidden;
  }
 body {
    width:100%;
  }
  h1 {
    text-align: center;
    font: Bold 18px/22px Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
    height: 40px;
    margin:21px 21px;
    }

    .container {
      position: relative;
      text-align: center;
      color: white;
    }
    .topRightText {
      position: absolute;
      top: 33px;
      right: 32px;
      left: 32px;
      width: 312px;
      font-family: Flood;
      font-size: 32px;
      line-height: 46px;
      letter-spacing: 0;
      color: #FFFFFF;
      opacity: 1;
    }
    
    .box {
      position: relative;
      top: -1089px;
      bottom: 128px;
      left: 20px;
      right: 32px;
      width: 312px;
      height: 816px;
      background: #354463;
    }

    .formTitle {
      position: absolute;
      margin: 32px 31px 757px 0px;
      top: 0px;
      right: 31px;
      left: 31px;
      /* text-align: center; */
      font: Bold 22px/28px Helvetica;
      letter-spacing: 0;
      color: #FFFFFF;
      opacity: 1;
      
    }

    .field-container {
      position: absolute;
      left: 18px;
      top: 68px;
      right: 24px;
      font: normal 11px/13px Helvetica;
      letter-spacing: 0.44px;
      color: #FFFFFF;
      opacity: 1;
    }
    .element-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 15px;
    }

    .three-element-row {
      display: flex;
      flex-direction: row;
    }
    .name-field {
      font: normal 11px/13px Helvetica;
      top: 291px;
      width: 116px;
      height: 45px;
    }
    .address-field {
      font: normal 11px/13px Helvetica;
      position: relative;
      width: 100%;
      right: 11px;
      height: 45px;
    }

    .field-text {
      font: normal 11px/13px Helvetica;
      letter-spacing: 0.44px;
      position: relative;
      right: 22px;
    }
    .address-text {
      position: relative;
      right: 68px;
    }

    .fieldspace {
      background-color:  #354463;
      letter-spacing: -0.16px;
      font: lighter 16px/24px Helvetica;
      width: 116px;
      color: #C1F7D5;
      border-style: solid;
      border-top: 1px #C1F7D5;
      border-left: 0px;
      border-right: 0px;
    }
    .small-fieldspace {
      background-color:  #354463;
      letter-spacing: -0.16px;
      font: lighter 16px/24px Helvetica;
      color: #C1F7D5;
      border-style: solid;
      border-top: 1px #C1F7D5;
      border-left: 0px;
      border-right: 0px;
      width: 50px;
    }

    .address-fieldspace {
      background-color:  #354463;
      letter-spacing: -0.16px;
      font: lighter 16px/24px Helvetica;
      color: #C1F7D5;
      width: 200px;
      border-style: solid;
      border-top: 1px #C1F7D5;
      border-left: 0px;
      border-right: 0px;
      position: relative;
      right: 21px;
    }
    
    
}

